* {
  font-family: sans-serif;
  box-sizing: border-box;
}

.seat {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.no-seat {
  visibility: hidden;
}

.seat-selected {
  background-color: green;
}

.seat:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.seat-row {
  display: flex;
  gap: 0.25rem;
}

.row {
  display: flex;
  gap: 1rem;
  margin: 0.25rem;
}

.book-seat-btn {
  padding: 0.5rem 1rem;
  background-color: #b00020;
  color: white;
  border: none;
  margin: 1rem 0;
  cursor: pointer;
}

.book-seat-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}
